*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

table {
    margin-top: 10%;
    background: #dfe6e9;
    padding: 5px;
    border-radius: 2%;
    height: 300px;
    width: 300px;
}

table input{
    width: 100%;
    font-size: 25px;
    border-radius: 15%;
    height: 100%;
}

table input:hover{
    opacity: 0.7;
}

.coluna-display{
    padding-left: 10px;
    padding-right: 10px;
}

table #display{
    text-align: right;
    background: white;
    border-radius: 0;
    height: 85%;
    border: 0;
}

table .num{
    background: white;
}

.operacao, .igual{
    background: #192a56;
    color: white;
}

.clear{
    background:  #EA2027;
    color: white;
}