
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

input[type=button]{
    cursor: pointer;
    width: 100%;
}

table {
    margin-top: 10%;
    background: #dfe6e9;
    padding: 5px;
    border-radius: 2%;
    height: 300px;
    width: 300px;
}

table input{
    width: 95%;
    font-size: 25px;
    height: 91%;
    border: none;
    border-radius: 10%;
    background:#c6c6d7;
}

table input:hover{
    opacity: 0.7;
}

table #display{
    text-align: right;
    background: white;
    border-radius: 0;
    height: 87%;
    border: 0;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}

.operacao {
    background: #c6c6d7;
}

table .num{
    background: white;
}

.igual{
    background: #000;
    color: white;
}

.clear{
    background:  #EA2027;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(191 191 203);
}

.content {
    display: flex;
    justify-content: center;
}

.dark-btn{
    cursor: pointer;
    font-size: 20px;
    border: none;
}

.dark-mode {
    filter: invert(1) hue-rotate(180deg)
}

.history {
    height: 300px;
    margin-top: 30px;
    overflow: auto;
    
}

.history p{
    font-size: 25px;
    margin-left: 20px;
    padding: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(102, 103, 109, 0.37);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-bottom: 1px solid black;
}

/* Scroolbar */

::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}